* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    
    background-color: #FAF3EA;
}
.navbar {
    display: flex;
    justify-content:space-between;

    align-items: center;
    padding:20px 40px;
    background-color: #FDF9F4;
    border-bottom: 2px solid #A02020;
}
.logo {
    margin-right: 50px;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: bold;
    color:#A02020;
    letter-spacing: 2px;
    font-family: "Bungee", sans-serif;
}
.nav-links {
    list-style: none;
    display: flex;
    gap:30px;
   
}
.nav-links a {
    text-decoration: none;
       font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
     transition: color 0.3s ease;
     color:#A02020;
}
.nav-links a:hover {
    color: #A02020;
}


.gridcontainer {
    display: grid;
    grid-template-columns: 40% 40% ;
    grid-template-rows: minmax(200px,auto);
    gap: 5%;
    margin-top:150px;
    margin-left:10%;
}
 .img {
    
}
.img img {
    width:100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    border: 3px solid;
    border-color: #dc6259;
    border-radius: 20px;
}
.maintext {


}
.maintext p {
    margin-top: 20%;
    
    color:#A02020;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.borderone {
    margin-top: 50px;
    background-color: #A02020;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderone h2 {
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}
.album {
    margin-top:150px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows:  300px 300px;
    gap:5%;
}
.picone {

}
.album img {
    width:100%;
    
    max-height:300px;
     object-fit: cover;
       border: 3px solid;
    border-color: #dc6259;
    border-radius: 20px;
}
.pictwo {
    
}

.picthree {
   
}
.picfour {
  
}

@media (max-width: 600px) {

    

.gridcontainer {
    padding:0;
    margin:0;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}
.img {
    
}
.img img {
    width:80%;
    margin-left:10%;

}
.gridcontainer p {
    
    width:80%;
    margin-left: 10%;
    margin-top: 20px;
    
}

.borderone h2 {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}
.album {
    margin-top:50px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows:  200px 200px;
    gap:5%;
}
.album img {
        height:200px;
    }
}

